profile = janestreet
break-cases = fit-or-vertical
break-infix = wrap-or-vertical
doc-comments = before
type-decl = sparse
type-decl-indent = 4
function-indent=4
extension-indent=4
let-binding-indent=4
match-indent=0
match-indent-nested=always
cases-exp-indent=4
exp-grouping = preserve
let-binding-spacing = double-semicolon
margin = 95
break-string-literals = never
break-collection-expressions = fit-or-vertical
if-then-else = fit-or-vertical
field-space = tight-decl
indicate-multiline-delimiters = closing-on-separate-line
type-decl-indent = 4
let-and = compact
module-item-spacing = preserve
