profile = default
break-cases = fit-or-vertical
break-infix = wrap-or-vertical
doc-comments = before
type-decl = sparse
function-indent=4
extension-indent=4
let-binding-indent=4
match-indent=0
match-indent-nested=always
cases-exp-indent=4
exp-grouping = preserve
let-binding-spacing = double-semicolon
margin = 100
